# Created by https://www.gitignore.io

### Linux ###
*~

# KDE directory preferences
.directory

# Linux trash folder which might appear on any partition or disk
.Trash-*

.*\.swp

.*\.retry
.idea

.vscode

__pycache__

.python-version

# anything that is secret
*.secret

.DS_Store

